*{
    box-sizing: border-box;
}

/* Menu Header CSS - Início */

header.container{
    margin-left:0;
    margin-right:0px;
    padding:0;
    width:100%;       
}

.header-area{
    background-color: rgba(114, 110, 110, 0.452);
    height: 70px;   
}

#searchInputIconMobile, #logoMobile, #inputMobile {
    display:none;
}

#searchBoxDiv{
    position:relative;       
}

#menu{
    margin-top:15px; 
}

#menu ul a{
    color:black;
    transition:color 300ms ease-in-out;
}

#menu ul a:hover{
    color:white;
}

#searchBoxDiv input{
    width:90%;
    margin-top:20px;  
    padding-left: 25px; 
}

#searchBoxDiv input::placeholder{    
    font-size:12px;  
}

#searchBoxDiv #searchInputIcon{
    width:15px;
    position:absolute;
    top:29px;
    left:20px;
}

#searchBoxDiv #eraseInputIcon{
    width:15px;
    position:absolute;
    top:28px;
    right:55px;
}

/* Media Query to set responsiveness of the header menu */ 

/*Media Query to Adjust the Erase Icon between 992px and 1200px*/ 
@media screen and (min-width:992px) and (max-width: 1200px) {
    #eraseInputIcon{
        right:40px;    
}}

/*Media Query to hide menu links in desktop layout*/

@media screen and (min-width: 991px){
    #linksMenuMobileId{
        display:none;
    }
}

@media screen and (max-width: 991px){
    
    #menu, #logo, #searchBoxDiv #eraseInputIcon,#searchBoxDiv #searchInputIcon, #searchBoxDiv input{
        display:none;
    }

    .menuMobile{
        padding-top:10px;        
    }

    .menuMobile> span{
        display: block;
        width: 26px;
        height: 4px;
        background-color: black;
        transition:all 300ms ease-in-out;
        transform-origin:0.5px 2px;
        border-radius:10px;        
    }

    .menuMobile> span:not(:last-child){
        margin-bottom: 5px;
    }

    .menuMobile.open> span:first-child{
            transform: rotate(45deg);
    }

    .menuMobile.open> span:nth-child(2){
        opacity:0;
    }

    .menuMobile.open> span:last-child{
        transform: rotate(-45deg);      
    }

    .logoMenuDiv{
        display:flex;
        justify-content: center;
    }

    #logoMobile{        
        display:block;        
        height:60px;
        margin-bottom:5px;
        padding-top:3px;        
    }

    .searchIconMobileDiv{
        display:flex;
        justify-content: flex-end;
        padding-top:15px;
        padding-right:25px;               
    }

    #searchInputIconMobile{
        display:block;
        width:20px;
        height:20px;  
    }

    #inputSearchFieldId{
        height:45px;
    }

    #inputMobile{
        display:block;
        width:100%;        
    }

    .hide{
        display:none;
    }

    #linksMenuMobileId{        
        margin-top:25px;
        text-align: center;
        background-color: rgb(0, 0, 0,0.9);
        z-index:999;
    }

    #linksMenuMobileId>nav>a{
        color:white;
    }
}

/* Menu Header CSS - Fim */


/* Section Lançamentos - Início */ 

.releases-area{
    background-color: rgba(223, 223, 223, 0.89);
    padding-bottom:50px;    
}

h1{
    text-align: center;
}

/*Carousel*/ 

#MiCarousel{
    height:315px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.carousel-img{
    width: 80%;
    height: 100%;    
    opacity: 0.8;    
}

.div-r{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    max-height:419px;       
}

.carousel-title{
    font-size: 80px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

.carousel-pagination{
    background-color: #000 !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 100%;
    position: relative;
    bottom: -50px;
    opacity: 0.5;
}

.carousel-pagination.active{
    opacity: 1;   
}

.carousel-controls{
    display: none;
}

.sinopse,.avaliacao, .diretor, .roteiro,.estreia,.avaliacao{
    font-weight: bold;
}

.releases h1{
    margin-top:15px;
}

.avaliacao{
    margin-bottom:5px;
}

/*stars review*/

.checked {
  color: orange;
}

/* Media Query to set responsiveness of the section lançamentos */ 

@media screen and (max-width:991px) {
        
    .div-r{
        margin-top:60px;
    }

    .releases-area{
    text-align: center;
}
}

@media screen and (min-width: 720px) and (max-width:991px){
    

}

/* Section Lançamentos - Fim */ 

/* Section Em Destaque - Início */ 

.highlights{
    margin-top:20px;
}

.headline-dropdownList{
    margin-bottom:20px;
}

.headline-dropdownList h1{
    text-align: left;
    padding-left:80px;
}

#categorias{
    width:200px;
    padding:5px;
    margin-top:8px;
    margin-left:55%;
    border-radius:5px;    
}

.cards-row{
    margin-left:40px;
    margin-right:40px;
}

.card{
    padding:0 auto;
    margin-top: 10px;
    align-items: center;
    border:none;    
}

.card img{
    width:80%;
    height:auto;
}

.button-row{
   margin-top:20px;
}

#btn-carregar-mais-filmes{
    margin-left:78%;
    margin-bottom:20px;
}

/* Media Query to set responsiveness of the section Em Destaque */ 
@media screen and (max-width:991px) {
    .highlights{
        margin-top:340px;
        background-color: rgba(223, 223, 223, 0.89);
        text-align: center;
    }

    .headline-dropdownList h1{
        text-align: center;
        padding-left:0;
        margin-top:20px;
}

    #categorias{
        margin-left: 0;
        
    }

    .card{
        background-color: transparent;
    }

    .card img{
        width:60%;
        height:auto;
    }

    #btn-carregar-mais-filmes{
        margin-left:0;
    }
    
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .card{
        margin-bottom:20px;
    }
    
    .card img{
        width:50%;
        height:auto;
    }   
    
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .card{
        margin-bottom:20px;
    }

    .card img{
        width:80%;
        height:auto;
    }   
    
}

/* Section Em Destaque - Fim */ 

/* Section Últimas Avaliações - Início */ 

.last-reviews{
    background-color: rgba(223, 223, 223, 0.89);
    margin-left:0;
    margin-right:0;    
}

.last-reviews h1{
    margin-top:20px;
}

.ultimasAvalicoesRow{
    margin-left:15px;
}

.testimonialDiv{
    height: auto;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.973);
    border-radius:10px;
    margin-bottom:20px;
    margin-top:20px;
    padding-bottom:20px;
    padding-top: 20px;
    padding-left: 30px;
    color: black;    
}

.testimonialId{
    display:flex;
    flex-direction:row;
}

.testmonialIdentification{
    padding-top: 35px;
    padding-bottom: 5px;
    margin-top:20px;
}

.buyerPhoto{
    width:60px;
    height:60px;
    border-radius:50%;
    margin-right: 20px;        
}

.buyerName{
    padding-top:10px;
    font-size:25px;
    font-weight: 700;
    margin-bottom:0px;       
}

#adrianoAlvesPhoto{
    background-image: url("./imagens/image-adriano.jpg");
    background-size:100%;
    background-repeat: no-repeat;    
}

#cristinaMoreiraPhoto{
    background-image: url("./imagens/image-cristina.jpg");
    background-size:100%;
    background-repeat: no-repeat;
}

#leticiaSilvaPhoto{
    background-image: url("./imagens/image-leticia.jpg");
    background-size:100%;
    background-repeat: no-repeat;
}

.testimonialParagraph{
    margin-top:15px;
    line-height: 25px;
    width: 90%;
    padding-left: 10px;    
}

.filmeAvaliacao{
    text-align: center;
}

.ultimas-avaliacao{
    padding-left:10px;
}

.data-avaliacao{
    margin-left:15px;
    font-weight: bold;
}

#buttonMaisAvaliacoesId{
    display:flex;
    justify-content: flex-end;
}

#buttonMaisAvaliacoesId button{
    margin-right:25px;
    margin-bottom:20px;
}

/* Media Query to set responsiveness of the section Ultimas Avaliações */

@media screen and (max-width:1199px) {
    
    .last-reviews{
    background-color: rgba(255, 255, 255, 0.973);  
    }

    .testimonialDiv{
    background-color:rgba(223, 223, 223, 0.89);
    }
    
    .ultimasAvalicoesRow{
        margin-left:0px;
    }   

    .avaliacaoCard, #buttonMaisAvaliacoesId{
        display:flex;
        justify-content: center;
    }

    #buttonMaisAvaliacoesId button{
    margin-right:0;
}

}

/* Section Ultimas Avaliações - Fim */ 

/* Section Entrevistas & Making-Of - Início */ 

.rowEntrevistas{
    display:flex;
    justify-content: center;
}

.entrevistas-makingOf h1{
    margin-top:20px;
    margin-bottom:30px;
}

.nomeDoFilmeParagraph{
    font-size:20px;
}

.nomeDoFilmeParagraph{
    margin-bottom:10px;
}

.diretorParagraph{
    margin-bottom:0;
}

#btn-carregar-mais-entrevistas{
    margin-top:20px;
}

/* Media Query to set responsiveness of the section Entrevistas & Making-Of */

@media screen and (max-width:1199px) {
    
    .entrevistas-makingOf{
    background-color: rgba(223, 223, 223, 0.89);  
    }
}

/* Section Entrevistas & Making-Of - Fim */ 

/* Section Novidades-Sobre - Início */ 

.novidades-sobre{
    background-color:rgba(223, 223, 223, 0.89);
    padding-left:50px;    
}

.novidades-sobre h1{
    margin-top:20px;
    padding-left:25px;
    text-align: left;
}

.imagem-conteudo{
    margin-top:20px;
    display:flex;
    flex-direction: row;
}

.imagem-materia{
    width:45%;
    height:auto;
}

.imagem-materia img{
    width:100%;
    margin-top:8px;
}

.conteudo-materia{
    width:60%;
    margin-left:30px;
}

.tagsDiv{
    margin-top:5px;
    display:flex;    
}

.tags{
    margin-right:10px;
    background-color: #6c757d;
    color:white;
    border-radius:20px;
    padding:3px 20px;
}

.descricaoMateria{
    margin-bottom:20px;
}

.sobre-texto{
    padding:15px 70px 15px 30px;    
}

.sobre-texto h2{
    margin-bottom:15px;
}

.sobreParagrafo{
    margin-top:5px;
}

.editorialDiv{
    margin-bottom:20px;
}

.editorialSubDiv{
    display:flex;
    align-items: center;
}

.editorialDiv img{
    width:15px;
    height:16.35px;     
}

.editorialParagrah{
    margin-bottom:0px;
    margin-left:10px;
}

.redes-sociais-links{
    margin-right:20px;
}

.redes-sociais-links img{
    width:50px;
    height:auto;
}

/* Media Query to set responsiveness of the section Novidades */

@media screen and (max-width:1199px) {

.novidades-sobre{
    background-color:rgba(255, 255, 255, 0.973);      
}

.imagem-conteudo{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.novidades-sobre h1{
    padding-left:0;
    text-align:center;
}

}

@media screen and (max-width:768px) {

.imagem-materia{
    width:100%;
    height:auto;

}

.imagem-materia img{
    width:100%;
    margin-top:8px;    
}

.conteudo-materia{
    margin-top:20px;
    width:100%;
    margin-left:0px;
}

}

@media screen and (min-width:769px) and (max-width:1199px){
.imagem-materia{
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;    
}

.imagem-materia img{
    max-width:60%;
    margin-top:8px;
    
}

.conteudo-materia{
    margin-top:20px;
    width:100%;
    margin-left:0px;
}
}

/* Section Novidades-Sobre - Fim */ 

/* Footer - Início */ 

.footer-area{
    padding-top:15px;
    padding-bottom:15px;
}

.footerRow{
   display:flex;   
   align-items: center; 
}

.footerRow p {
    margin-bottom:0;
}

.copyrightDiv, .logo-footer{
    display:flex;
    justify-content: center;
    text-align: center;
}

/* Media Query to set responsiveness of Footer */

@media screen and (max-width:1200px) {

.footer-area{
    background-color:rgba(223, 223, 223, 0.89);    
}

.copyrightDiv{
    margin-bottom:20px;
}
    
}

/* Footer - Fim */ 